html{
    background-color: #fdf1d3;
    padding: 5px 50px 50px 50px;
}

.details {
    display: grid;
}

.details h3{
    grid-column: 1/2;
}

.details img {
    width: 100%;
}

#osnovno p{
    margin-bottom: 35px;
}

#detalji-naslov {
    margin: 0;
}

#detalji {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
}

.grid-item {
    grid-column: span 1;
}

.grid-item-description {
    grid-column: span 2;
}

.lista-upita {
    display: grid;
    gap: 20px;
}

.upit-item {
    padding: 15px;
    background-color: white;
    border: 2px solid black;
}

.upit-item p {
    margin-top: 0;
}