html {
    background-color: #fdf1d3;
    padding: 10px 30px 30px 30px;
}

.menu-container {
    text-align: center;
}

.menu li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px auto;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}

.menu a:hover{
    color: #ff9900;
}
