*{
    margin: 0;
    padding: 0;

}

html {
    background-color: #fdf1d3;
}

.menu-container {
    text-align: center;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

.menu li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px auto;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    padding: 10px 0;
}

.menu a:hover{
    color: #ff9900;
}

a {
    text-decoration: none;
}