html {
    background-color: #fdf1d3;
}

body {
    margin-top: 100px;
}

.real-estates-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    gap: 20px;
}

.real-estates-name {
    text-align: left;
    font-weight: bold;
}

.real-estates-type {
    text-align: center;
}

.real-estates-quadrature {
    text-align: left;
}

.real-estates-price {
    text-align: right;
}

#stan .real-estates-item{
    background-color: white;
}

.real-estates-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.real-estates-item img {
    width: 100%;
    border-radius: 5%;
}

.real-estates-item button {
    margin: 0 auto;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    border-radius: 10%;
    width: 50%;
}

#kuca .real-estates-item{
    background-color: powderblue;
}

#pp .real-estates-item{
    background-color: green;
}

p {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h2 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}