html {
    background-color: #fdf1d3;
}

body {
    overflow-y: scroll;
}

#menu-screen {
    width: inherit;
    border: 0;
}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 60px;
}
