html {
    background-color: #fdf1d3;
    padding: 20px 30px 30px 30px;
}

.profil-detalji {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 20px;
}

.profile-picture {
    grid-column: span 2;
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
}

.profile-details {
    grid-column: span 1;
    margin-bottom: 30px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#ime, #prezime, #username, #password {
    padding: 15px;
    font-size: 20px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}