html{
    background-color: #fdf1d3;
}

body {
    margin-top: 100px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.details {
    display: grid;
}

.details h3{
    grid-column: 1/2;
}

.details img {
    width: 100%;
    height: 300px;
}

#osnovno p{
    margin-bottom: 35px;
}

#detalji-naslov {
    margin: 0;
}

#detalji {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
}

.grid-item {
    grid-column: span 1;
}

.grid-item-description {
    grid-column: span 2;
}

#upiti {
    width: 100%; 
}

.lista-upita {
    list-style-type: none;
    padding: 0;
}

.lista-upita li {
    border: 1px solid black;
    margin-bottom: 20px; 
    background-color: white;
}

.korisnik {
    font-weight: bold;
    padding: 10px;
}

.upit {
    padding: 10px;
}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

#menu-screen {
    width: inherit;
    border: 0;
}

.form-upita {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 900px;
    margin: 0 auto 50px;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-upita input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    width: 71%;
    margin-right: 25px;
}

.form-upita button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e8a259;
    width: 230px;
    border: 0;
    padding: 10px;
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}