html {
    background-color: #fdf1d3;
}

body {
    margin-top: 100px;
}

#stan, #kuca, #pp{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    gap: 20px;
}

.real-estates-name {
    font-weight: bold;
}

.real-estates-price {
    text-align: right;
}

#stan .real-estates-item{
    background-color: white;
}

.real-estates-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.real-estates-item img {
    width: 100%;
    border-radius: 5%;
    height: 185px;
}

.real-estates-item .details-button {
    margin: 0 auto;
    display: block;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    border-radius: 10%;
    width: 50%;
}

#kuca .real-estates-item{
    background-color: powderblue;
}

#pp .real-estates-item{
    background-color: green;
}

p {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h2 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

#menu-screen {
    width: inherit;
    border: 0;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 900px;
    margin: 0 auto 50px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e8a259;
    width: 300px;
    border: 0;
    padding: 10px;
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.pretrage ,.klikovi{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 10px;
    display: none;
}

.real-estates-item.expand {
    box-sizing: border-box;
    width: 500px;
    grid-column: span 2;
}

.podaci{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 10px;
    display: none;
}

.open-details-button{
    margin: 0 auto;
    display: none;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    border-radius: 10%;
    width: 50%;
    margin-left: 5px;
}

.real-estates-buttons {
    display: flex;
    justify-content: space-around; /* Da bi dugmadi bila na sredini */
    align-items: center; /* Centriranje po vertikali */
}