html {
    background-color: #fdf1d3;
}

body {
    margin-top: 100px;
    overflow-y: scroll;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    margin: 0 auto;
}

#menu-screen {
    width: inherit;
    border: 0;
}

.profil-detalji {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    
}

.profile-picture {
    grid-column: span 2;
    width: 50%;
    margin-bottom: 50px;
}

.profile-details {
    grid-column: span 1;
    margin-bottom: 30px;
    font-size: 1rem;
    box-sizing: border-box;
}

#ime, #prezime, #username, #password {
    padding: 10px;
    width: 100%;
}

#labela-ime, #labela-prezime, #labela-username, #labela-password {
    margin-top: 13px;
    margin-right: 40px;
}

@media (min-width: 500px){
    
    .profil-detalji {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        width: 100%; 
    }
    
    .profile-picture {
        grid-column: span 1;
        grid-row: span 4;
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-right: 10%;
    }
    
    .profile-details {
        grid-column: span 1;
        margin-bottom: 45px;
        font-size: 1rem;
        box-sizing: border-box;
    }

    #ime, #prezime, #username, #password {
        padding: 10px;
        width: 70%;
    }

    #labela-ime, #labela-prezime, #labela-username, #labela-password {
        margin-top: 13px;
        margin-right: 40px;
    }
}







